/* ================== RESETEO ================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* ================== NAVBAR ================== */
.navbar {
    display: flex;
    top: -60px; /* Empieza oculta arriba */
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #333;
    color: white;
    transition: top 0.3s; /* Animación suave */
}
.nav-links {
    display: flex;
    gap: 20px;
}
.menu-toggle {
    display: none;
    background: none;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.navbar .logo img {
    max-width: 150px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #f4a261;
}

/* ================== HERO ================== */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 20px;
    min-height: 95vh;
    background-image: url('img/img_Prin.jpeg');
    background-repeat: no-repeat; /* Impide que la imagen se repita */
    background-size: cover; /* Ajusta la imagen para cubrir todo el área */
    background-position: center;
}
.hero h1 {
    padding-top: 10%;
    font-size: 7rem;
    max-width: 90%;
    color: white;
    text-shadow: 0px 0px 2px rgb(56, 51, 23), 0px 0px 2px rgb(61, 59, 22), 0px 0px 15px rgb(255, 230, 0);
}

.hero-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    padding-top: 12%;
}

.btn-about, .btn-projects {
    padding: 15px 25px;
    font-size: 16pt;
    border:none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

.btn-about {
    background: #ffc400;
    color: white;
}

.btn-projects {
    background: #0a3b63;
    color: white;
}

.btn-about:hover, .btn-projects:hover {
    opacity: 0.75;
    padding: 15px 25px;
}

/* ================== SOBRE NOSOTROS ================== */
#about {
    text-align: center;
    padding: 50px 20px;
}

.about-h2 {
    font-size: 3rem; /* Tamaño de fuente */
    text-align: center; /* Centra el texto */
    margin: 20px 0; /* Margen superior e inferior */
    padding: 40px 20px; /* Espaciado interno */
    position: relative; /* Para posicionar el borde */
    display: inline-block;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 2px rgb(56, 51, 23), 0px 0px 2px rgb(61, 59, 22), 5px 5px 15px rgb(0, 0, 0);
}

.about-p {
    max-width: 800px;
    margin: 0 auto;
}

/* ================== TARJETAS ================== */
.container_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 100px 20px;
}
.container_cards img {
    width: 100px;
}

.card {
    background: #f8f9fa;
    padding: 20px;
    justify-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* ================== PROYECTOS ================== */
.container-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 20px;
    min-height: 100vh;
    background-image: url('img/img_decks.jpeg');
    background-repeat: no-repeat; /* Impide que la imagen se repita */
    background-size: cover; /* Ajusta la imagen para cubrir todo el área */
    background-position: center;
}
.container-projects h2 {
    padding-top: 125px;
    font-size: 3rem; /* Tamaño de fuente */
    text-align: center; /* Centra el texto */
    margin: 20px 0; /* Margen superior e inferior */
    padding: 40px 20px; /* Espaciado interno */
    position: relative; /* Para posicionar el borde */
    display: inline-block;
    color: white;
    text-shadow: 0px 0px 2px rgb(56, 51, 23), 0px 0px 2px rgb(61, 59, 22), 5px 5px 15px rgb(0, 0, 0);
}
.container-card-projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.card-projects {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-projects img {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.card-content {
    text-align: center;
    padding: 20px;
}

.btn_galery {
    padding: 12px 12px;
    font-size: 1rem;
    background: #264653;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn_galery:hover {
    opacity: 0.8;
}

/* ================== SERVICIOS ================== */
.services {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px 20px;
    min-height: 100vh;
    background-image: url('img/fondo_services.jpg');
    background-repeat: no-repeat; /* Impide que la imagen se repita */
    background-size: cover; /* Ajusta la imagen para cubrir todo el área */
    background-position: center;
    border-radius: 10px;
}
.services h2 {
    padding-top: 150px;
    font-size: 3rem; /* Tamaño de fuente */
    text-align: center; /* Centra el texto */
    margin: 20px 0; /* Margen superior e inferior */
    padding: 60px 20px; /* Espaciado interno */
    position: relative; /* Para posicionar el borde */
    display: inline-block;
    padding-top: 125px;
    font-size: 3rem; /* Tamaño de fuente */
    text-align: center; /* Centra el texto */
    margin: 20px 0; /* Margen superior e inferior */
    padding: 40px 20px; /* Espaciado interno */
    position: relative; /* Para posicionar el borde */
    display: inline-block;
    color: white;
    text-shadow: 0px 0px 2px rgb(56, 51, 23), 0px 0px 2px rgb(61, 59, 22), 5px 5px 15px rgba(255, 217, 0, 0.466);
}

.service-categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}
.container {
    width: 350px;
    color: white;
    text-shadow: 0px 0px 2px rgb(255, 255, 255), 0px 0px 2px rgb(255, 255, 255), 5px 5px 15px rgba(255, 255, 255, 0.466);
    background: rgb(9, 25, 78);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.1);
}
.container img {
    border-radius: 10px;
}
/* ================== CONTACTO ================== */
#contact {
    color: #f8f9fa;
    font-size: 16pt;
    background-color:#01213b75;
    padding: 450px 20px;
    padding-bottom: 250px;
    text-align: center;
    text-shadow: 0px 0px 2px rgb(0, 0, 0), 0px 0px 2px rgb(0, 0, 0), 5px 5px 15px rgba(0, 0, 0, 0.466);
}

/* ================== FOOTER ================== */
footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
}

/* ================== RESPONSIVE ================== */

/* TABLETS (768px - 1200px) */
@media (max-width: 1200px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .navbar ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .container_cards {
        grid-template-columns: 1fr 1fr;
    }
}

/* MÓVILES (Menos de 768px) */
@media (max-width: 767px) {
    .hero h1 {
        font-size: 15pt;
    }

    .container_btn {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .btn-about, .btn-projects {
        width: 50%;
        font-size: 10pt;
    }

}

/* DISPOSITIVOS PEQUEÑOS (Menos de 480px) */
@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text, .hero-image {
        width: 100%;
    }
    .about-h2 {
        font-size: 8pt;
    }
    .about-p {
        font-size: 8pt;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 20px 0;
    }

    .hero-text h1 {
        font-size: 1.5rem;
    }

    nav ul {
        font-size: 14px;
    }
    .about-h2 {
        font-size: 2pt;
    }
    .about-p {
        font-size: 2pt;
    }
}
